.u-block-4aca-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4aca-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  top: 509px;
  right: auto;
}

.u-block-4aca-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 510px;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1321px;
}

.u-section-1-1 .u-table-1 {
  width: 450px;
  margin: 0 auto 60px 0;
}

.u-block-8a39-5 {
  border-style: solid;
}

.u-section-1-1 .u-table-header-1 {
  background-image: none;
}

.u-section-1-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1-1 .u-table-cell-3 {
  border-style: solid;
}

.u-section-1-1 .u-table-cell-4 {
  border-style: solid;
}

.u-section-1-1 .u-table-cell-8 {
  font-weight: 400;
}

.u-block-8a39-29 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-table-cell-1 {
    margin-left: 0;
    margin-right: 278px;
  }

  .u-section-1-1 .u-table-cell-2 {
    margin-left: 191px;
    margin-right: 184px;
  }

  .u-section-1-1 .u-table-cell-3 {
    margin-left: 285px;
    margin-right: 103px;
  }

  .u-section-1-1 .u-table-cell-4 {
    margin-left: 366px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1-1 .u-table-cell-1 {
    margin-right: 233px;
  }

  .u-section-1-1 .u-table-cell-2 {
    margin-left: 106px;
    margin-right: 164px;
  }

  .u-section-1-1 .u-table-cell-3 {
    margin-left: 175px;
  }

  .u-section-1-1 .u-table-cell-4 {
    margin-left: 236px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1087px;
}.u-section-2 .u-sheet-1 {
  min-height: 1627px;
}

.u-section-2 .u-text-1 {
  margin: 21px auto 0 20px;
}

.u-section-2 .u-text-2 {
  margin: -21px auto 0 132px;
}

.u-section-2 .u-image-1 {
  width: 1080px;
  height: 714px;
  margin: 30px auto 0 20px;
}

.u-section-2 .u-image-2 {
  width: 1100px;
  height: 637px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1368px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 621px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 544px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 476px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 357px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 83px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 225px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 197px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1453px;
}

.u-section-3 .u-table-1 {
  margin-bottom: 0;
  margin-top: 71px;
}

.u-block-48ac-7 {
  border-style: solid;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-3 .u-table-body-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-6 {
  border-style: solid;
}

.u-section-3 .u-table-cell-7 {
  border-style: solid;
}

.u-section-3 .u-table-cell-8 {
  border-style: solid;
}

.u-section-3 .u-table-cell-9 {
  border-style: solid;
}

.u-section-3 .u-table-cell-10 {
  border-style: solid;
}

.u-section-3 .u-table-cell-11 {
  border-style: solid;
}

.u-section-3 .u-table-cell-12 {
  border-style: solid;
}

.u-section-3 .u-table-cell-13 {
  border-style: solid;
}

.u-section-3 .u-table-cell-14 {
  border-style: solid;
}

.u-section-3 .u-table-cell-15 {
  border-style: solid;
}

.u-section-3 .u-table-cell-16 {
  border-style: solid;
}

.u-section-3 .u-table-cell-17 {
  border-style: solid;
}

.u-section-3 .u-table-cell-18 {
  border-style: solid;
}

.u-section-3 .u-table-cell-19 {
  border-style: solid;
}

.u-section-3 .u-table-cell-20 {
  border-style: solid;
}

.u-section-3 .u-table-cell-21 {
  border-style: solid;
}

.u-section-3 .u-table-cell-22 {
  border-style: solid;
}

.u-section-3 .u-table-cell-23 {
  border-style: solid;
}

.u-section-3 .u-table-cell-24 {
  border-style: solid;
}

.u-section-3 .u-table-cell-25 {
  border-style: solid;
}

.u-block-48ac-22 {
  height: 46px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  margin: -1032px auto 0 23px;
  padding: 48px 68px 49px 67px;
}

.u-section-3 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  margin: 60px auto 0 23px;
  padding: 49px 67px;
}

.u-section-3 .u-btn-3 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  margin: 71px auto 0 23px;
  padding: 47px 66px 48px 65px;
}

.u-section-3 .u-btn-4 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: -494px auto 0;
  padding: 48px 58px 49px 57px;
}

.u-section-3 .u-btn-5 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: -120px auto 0 256px;
  padding: 48px 67px 48px 66px;
}

.u-section-3 .u-btn-6 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 61px auto 0 252px;
  padding: 48px 69px 49px 68px;
}

.u-section-3 .u-btn-7 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 73px auto 0;
  padding: 47px 53px 48px 52px;
}

.u-section-3 .u-btn-8 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 86px auto 0 252px;
  padding: 48px 69px 49px 68px;
}

.u-section-3 .u-btn-9 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: -519px auto 0;
  padding: 49px 57px;
}

.u-section-3 .u-btn-10 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 71px auto 0 252px;
  padding: 47px 71px 48px 70px;
}

.u-section-3 .u-btn-11 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 86px auto 0;
  padding: 48px 54px 49px 52px;
}

.u-section-3 .u-btn-12 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: -702px 254px 0 auto;
  padding: 48px 53px 50px 51px;
}

.u-section-3 .u-btn-13 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 60px 254px 0 auto;
  padding: 49px 52px 49px 51px;
}

.u-section-3 .u-btn-14 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 71px 254px 0 auto;
  padding: 47px 52px 48px 51px;
}

.u-section-3 .u-btn-15 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: -493px 29px 0 auto;
  padding: 48px 52px;
}

.u-section-3 .u-btn-16 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 61px 29px 0 auto;
  padding: 50px 52px;
}

.u-section-3 .u-btn-17 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 69px 29px 0 auto;
  padding: 50px 52px;
}

.u-section-3 .u-table-2 {
  width: 660px;
  margin: 556px 0 60px auto;
}

.u-block-48ac-69 {
  height: 46px;
}

.u-section-3 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-27 {
  background-image: none;
}

.u-section-3 .u-table-cell-28 {
  background-image: none;
}

.u-section-3 .u-table-cell-29 {
  background-image: none;
}

.u-section-3 .u-table-cell-30 {
  background-image: none;
}

.u-block-48ac-82 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 56px;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 52px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 52px;
  }

  .u-section-3 .u-btn-10 {
    margin-left: 52px;
  }

  .u-section-3 .u-btn-12 {
    margin-right: 54px;
  }

  .u-section-3 .u-btn-13 {
    margin-right: 54px;
  }

  .u-section-3 .u-btn-14 {
    margin-right: 54px;
  }

  .u-section-3 .u-btn-15 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-16 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-17 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-14 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 822px;
}

.u-section-4 .u-shape-1 {
  width: 662px;
  height: 370px;
  margin: 81px auto 0 210px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: -346px auto 0 477px;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  margin: 62px auto 0 292px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  margin: 24px auto 0 292px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  margin: 67px auto 0 292px;
}

.u-section-4 .u-shape-2 {
  width: 408px;
  height: 29px;
  margin: -166px 314px 0 auto;
}

.u-section-4 .u-shape-3 {
  width: 408px;
  height: 78px;
  margin: 20px 314px 0 auto;
}

.u-section-4 .u-shape-4 {
  width: 408px;
  height: 29px;
  margin: 14px 314px 0 auto;
}

.u-section-4 .u-text-5 {
  margin: -25px 475px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 393px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    margin-left: 58px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 301px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 224px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 224px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 224px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 312px;
  }

  .u-section-4 .u-shape-3 {
    margin-right: 312px;
  }

  .u-section-4 .u-shape-4 {
    margin-right: 312px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 226px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 168px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 168px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 168px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 132px;
  }

  .u-section-4 .u-shape-3 {
    margin-right: 132px;
  }

  .u-section-4 .u-shape-4 {
    margin-right: 132px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 142px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 106px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 106px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 106px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 142px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-shape-1 {
  width: 870px;
  height: 613px;
  margin: 187px auto 0 68px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: -570px 570px 0 440px;
}

.u-section-5 .u-table-1 {
  width: 659px;
  margin: 131px auto 0 173px;
}

.u-block-1eef-11 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-1 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-2 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-3 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-4 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-5 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-6 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-7 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-8 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-9 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-10 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-11 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-12 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-13 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-14 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-15 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-16 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-17 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-18 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-19 {
  border-style: dotted;
}

.u-section-5 .u-table-cell-20 {
  border-style: dotted;
}

.u-block-1eef-36 {
  height: 46px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: -278px auto 0 209px;
  padding: 0 26px;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 29px 322px 0 auto;
  padding: 0 10px 0 8px;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 32px 322px 0 auto;
  padding: 0 10px 0 8px;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 44px 322px 0 auto;
  padding: 0 10px 0 8px;
}

.u-section-5 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 37px 322px 0 auto;
  padding: 0 10px 0 8px;
}

.u-section-5 .u-shape-2 {
  width: 311px;
  height: 30px;
  margin: -88px 406px 0 424px;
}

.u-section-5 .u-shape-3 {
  width: 311px;
  height: 30px;
  margin: -151px 406px 0 424px;
}

.u-section-5 .u-text-2 {
  margin: -31px 630px 0 437px;
}

.u-section-5 .u-text-3 {
  margin: 100px 630px 0 437px;
}

.u-section-5 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 133px auto 0 220px;
  padding: 0 26px;
}

.u-section-5 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: -24px 496px 0 auto;
  padding: 0 26px;
}

.u-section-5 .u-shape-4 {
  width: 311px;
  height: 30px;
  margin: -453px auto 0;
}

.u-section-5 .u-text-4 {
  margin: -29px auto 0 209px;
}

.u-section-5 .u-text-5 {
  margin: -23px auto 60px 437px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 470px;
    margin-left: 340px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 9px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 122px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 122px;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 122px;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 122px;
  }

  .u-section-5 .u-shape-2 {
    margin-right: 306px;
    margin-left: 324px;
  }

  .u-section-5 .u-shape-3 {
    margin-right: 305px;
    margin-left: 324px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 530px;
    margin-left: 337px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 530px;
    margin-left: 337px;
  }

  .u-section-5 .u-btn-6 {
    margin-left: 20px;
  }

  .u-section-5 .u-btn-7 {
    margin-right: 296px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 360px;
    margin-left: 230px;
  }

  .u-section-5 .u-table-1 {
    margin-left: 61px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-right: 196px;
    margin-left: 214px;
  }

  .u-section-5 .u-shape-3 {
    margin-right: 195px;
    margin-left: 214px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 420px;
    margin-left: 227px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 420px;
    margin-left: 227px;
  }

  .u-section-5 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-7 {
    margin-right: 76px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 270px;
    margin-left: 140px;
  }

  .u-section-5 .u-table-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-right: 106px;
    margin-left: 124px;
  }

  .u-section-5 .u-shape-3 {
    margin-right: 105px;
    margin-left: 124px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 330px;
    margin-left: 137px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 330px;
    margin-left: 137px;
  }

  .u-section-5 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 157px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 170px;
    margin-left: 40px;
  }

  .u-section-5 .u-table-1 {
    width: 340px;
  }

  .u-section-5 .u-shape-2 {
    margin-right: 6px;
    margin-left: 24px;
  }

  .u-section-5 .u-shape-3 {
    margin-right: 5px;
    margin-left: 24px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 230px;
    margin-left: 37px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 230px;
    margin-left: 37px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 99px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 130px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 906px;
}

.u-section-6 .u-shape-1 {
  width: 611px;
  height: 310px;
  margin: 80px 238px 0 auto;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: -282px 499px 0 auto;
}

.u-section-6 .u-rotation-parent-1 {
  width: 15px;
  height: 15px;
  margin: 68px 291px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  width: 15px;
  height: 15px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 102px auto 0 368px;
  padding: 0 26px;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: -24px 306px 60px auto;
  padding: 0 26px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 411px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 168px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    margin-right: 109px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 315px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 149px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 886px;
}

.u-section-7 .u-shape-1 {
  height: 562px;
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-7 .u-shape-2 {
  width: 116px;
  height: 42px;
  margin: -185px auto 0 407px;
}

.u-section-7 .u-shape-3 {
  width: 153px;
  height: 42px;
  margin: -39px auto 0 236px;
}

.u-section-7 .u-shape-4 {
  width: 153px;
  height: 42px;
  margin: -131px 435px 0 auto;
}

.u-section-7 .u-shape-5 {
  width: 153px;
  height: 42px;
  margin: -191px 435px 0 auto;
}

.u-section-7 .u-shape-6 {
  width: 116px;
  height: 42px;
  margin: 105px auto 0 407px;
}

.u-section-7 .u-shape-7 {
  width: 116px;
  height: 42px;
  margin: -114px auto 0 407px;
}

.u-section-7 .u-shape-8 {
  width: 116px;
  height: 42px;
  margin: -119px auto 0 407px;
}

.u-section-7 .u-shape-9 {
  width: 153px;
  height: 42px;
  margin: 110px auto 0 236px;
}

.u-section-7 .u-shape-10 {
  width: 153px;
  height: 42px;
  margin: -115px auto 0 236px;
}

.u-section-7 .u-shape-11 {
  width: 153px;
  height: 42px;
  margin: -118px auto 0 236px;
}

.u-section-7 .u-shape-12 {
  width: 153px;
  height: 42px;
  margin: -44px auto 0 69px;
}

.u-section-7 .u-shape-13 {
  width: 153px;
  height: 42px;
  margin: 36px auto 0 69px;
}

.u-section-7 .u-shape-14 {
  width: 153px;
  height: 42px;
  margin: 31px auto 0 69px;
}

.u-section-7 .u-shape-15 {
  width: 153px;
  height: 42px;
  margin: 43px auto 0 69px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  margin: -387px auto 0;
}

.u-section-7 .u-table-1 {
  width: 1010px;
  margin: 26px auto 0;
}

.u-section-7 .u-table-header-1 {
  background-image: none;
}

.u-section-7 .u-table-cell-6 {
  width: 570px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-block-f2b2-51 {
  height: 46px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: -301px 255px 0 auto;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 34px 255px 0 auto;
}

.u-section-7 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 35px 255px 0 auto;
}

.u-section-7 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 35px 255px 0 auto;
}

.u-section-7 .u-shape-16 {
  width: 153px;
  height: 42px;
  margin: -203px 434px 0 auto;
}

.u-section-7 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: -119px 90px 0 auto;
}

.u-section-7 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 35px 90px 0 auto;
}

.u-section-7 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 26px 90px 0 auto;
}

.u-section-7 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 44px 90px 0 auto;
}

.u-section-7 .u-shape-17 {
  width: 153px;
  height: 42px;
  margin: -45px 434px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-2 {
    margin-top: -186px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -386px;
  }

  .u-section-7 .u-table-1 {
    width: 940px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 55px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 55px;
  }

  .u-section-7 .u-btn-3 {
    margin-right: 55px;
  }

  .u-section-7 .u-btn-4 {
    margin-right: 55px;
  }

  .u-section-7 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-6 {
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-7 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-shape-2 {
    margin-top: -185px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -387px;
  }

  .u-section-7 .u-table-1 {
    width: 720px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-4 {
    margin-right: 387px;
  }

  .u-section-7 .u-shape-5 {
    margin-right: 387px;
  }

  .u-section-7 .u-table-1 {
    width: 540px;
  }

  .u-section-7 .u-table-cell-6 {
    width: 540px;
  }

  .u-section-7 .u-shape-16 {
    margin-right: 387px;
  }

  .u-section-7 .u-shape-17 {
    margin-right: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-shape-2 {
    margin-top: -176px;
    margin-left: 224px;
  }

  .u-section-7 .u-shape-3 {
    margin-left: 187px;
  }

  .u-section-7 .u-shape-4 {
    margin-right: 187px;
  }

  .u-section-7 .u-shape-5 {
    margin-right: 187px;
  }

  .u-section-7 .u-shape-6 {
    margin-left: 224px;
  }

  .u-section-7 .u-shape-7 {
    margin-left: 224px;
  }

  .u-section-7 .u-shape-8 {
    margin-left: 224px;
  }

  .u-section-7 .u-shape-9 {
    margin-left: 187px;
  }

  .u-section-7 .u-shape-10 {
    margin-left: 187px;
  }

  .u-section-7 .u-shape-11 {
    margin-left: 187px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -396px;
  }

  .u-section-7 .u-table-1 {
    width: 340px;
  }

  .u-section-7 .u-table-cell-6 {
    width: 340px;
  }

  .u-section-7 .u-shape-16 {
    margin-right: 187px;
  }

  .u-section-7 .u-shape-17 {
    margin-right: 187px;
  }
}